# Binaries
**/bin/
bin-int/
Intermediates/
obj

raylib-master
Makefile

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

// Resharper
*.sln.DotSettings